@model ProductsRazor.Models.Item
@{
    ViewData["Title"] = "Create Item";
    ViewBag.SerialNumber ??= new List<string> { "" }; // ค่าเริ่มต้น
}

<div class="card shadow">
    <div class="card-header">@ViewData["Title"]</div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            @Html.EditorFor(model => model, "Item")
            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-controller= "Item" asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
